<style>
    @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700);

    .container {
      max-width: 650px;
      margin: 0 auto;
      padding: 50px;
      background: #455056;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .box {
      max-width: 450px;
      /* max-height: 300px; */
      padding: 0 35px;
      background: #FFFFFF;
    }

    body {
      font-family: 'Open Sans', sans-serif !important;
      margin: 0px;
    }


    .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }

    .logo img {
      width: 50px;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .content h1 {
      font-size: 30px;
      font-weight: bold;
    }
  </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
  <div class="container">
    <div class="box">
      <div class="logo">
        <img width="60" src="https://cdn-icons-png.flaticon.com/512/2165/2165004.png" title="logo" alt="logo">
      </div>

      <div class="content">
        <h1 style="color:#1e1e2d; font-weight:500; margin:5">{{name}}, você solicitou
          a redefinição de sua senha.
        </h1>
        <p style="color:#455056; font-size:15px;line-height:24px; margin:1;">
          Não podemos simplesmente enviar sua senha antiga. Um link exclusivo para redefinir sua senha foi gerado para
          você.
          Para redefinir sua senha, clique no link a seguir e siga as instruções.
        </p>
        <div class="content-buttons">
            <a href="{{link}}" target="_blank"
              style="background:#1255e6;text-decoration:none !important; font-weight:500; margin-top:15px; margin-bottom: 35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:5px;">
              redefinir senha
            </a>
            <a href="{{link}}" target="_blank"
              style="background:#d40d1d;text-decoration:none !important; font-weight:500; margin-top:15px; margin-bottom: 35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:5px;">
              Ignorar
            </a>
        </div>
      </div>
    </div>
  </div>
</body>
